<html>
    <head>
        <link rel="stylesheet" href="index.css">
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    </head>
    <body>
        <div id="testme">
            <div id="app-5">
                <p>{{ message }}</p>
                <button v-on:click="reverseMessage">Reverse Message</button>
            </div>
            
            <hr>
            
            <template v-if="loginType === 'username'">
                <label>Username</label>
                <input placeholder="Enter your username" key="username-input">
            </template>
            <template v-else>
                <label>Email</label>
                <input placeholder="Enter your email address" key="email-input">
            </template>

            <div id="app-5">
                <button v-on:click="toggleLoginType" key="test">Toggle box </button>
            </div>
        </div>
        <hr>
        <div id="testme2">
            <li v-for="n in evenNumbers">{{ n }}</li>
        </div>
        <script src="index.js"></script>
    </body>
</html>